#details
  %p< We'll use our very best efforts to keep our users' data private. Passwords are stored in an encrypted form and the site follows best practice security. We promise not to do anything bad with your data.
  %p< Stick your own text here.
