#details
  %h3< This website is a demo framework only
  %p< The developers of this website, nor any contributors to the Frank project, or Sinatra projects takes any responsibility for the use of this website.
  %p< Frank is licensed under a Creative Commons license.
  %p<
    Feel free to fork it five ways from Sunday, but please acknowledge
    %a{:href => "http://github.com/davesag/Frank", :target => "_blank"}< the core Frank project
