%p Dear #{user.username},
%p
  You have updated your email address. Please click
  %a{ :href => token_url }this link
  to confirm the change.
%p Cheers
%p Frank
%p
  Sent by
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
