%p Dear #{user.username},
%p
  Someone giving the username '#{supplied_name}' just tried to register with
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
  using your email address.
%p Just thought you'd like to know.
%p Cheers
%p Frank
%p
  Sent by
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
