%p Dear #{user.username},
%p
  A user of
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
  giving the username '#{supplied_name}' just tried to just tried to change their email to your email address.
%p Just thought you'd like to know.
%p Cheers
%p Frank
%p
  Sent by
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
