%p Dear #{user.username},
%p
  Thanks for registering. Please click
  %a{ :href => token_url }this link
  to confirm your registration and then log in.
%p Cheers
%p Frank
%p
  Sent by
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
