%p Dear #{user.username},
%p
  Thank's for registering. Please click
  %a{ :href => "http://localhost:4567/verify/#{user.registration_token" }
%p Cheers
%p Frank
%p
  Sent by
  %a{ :href => 'http://github.com/davesag/Frank' }