%p Dear #{user.username},
%p
  You have requested a password reset. Please click
  %a{ :href => token_url }this link
  to reset your password.
%p Cheers
%p Frank
%p
  Sent by
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
