/ facebook, skype, twitter, wordpress etc
%ul
  %li
    %a{:href => '#', :title => '(example only) Like us in Facebook'}
      %img{:src => '/graphics/facebook-pencil40.png', :height => 40, :width => 40, :alt => 'Facebook Icon'}
  %li
    %a{:href => 'https://twitter.com/davesag', :title => 'Follow Dave on Twitter'}
      %img{:src => '/graphics/twitter-pencil40.png', :height => 40, :width => 40, :alt => 'Twitter Icon'}
  %li
    %a{:href => 'http://davesag.tumblr.com/', :title => 'Read Dave\'s Tumblr'}
      %img{:src => '/graphics/wordpress-pencil40.png', :height => 40, :width => 40, :alt => 'Blog Icon'}
  %li
    %a{:href => 'skype:davesag?call', :title => 'Chat to Dave on Skype'}
      %img{:src => '/graphics/skype-pencil40.png', :height => 40, :width => 40, :alt => 'Skype Icon'}
