#message_box
  %h3 What does it do
#details
  %p Frank provides a fully functional 'empty' user-aware website.  It allows basic features such as login, two levels of logout, one which remembers your name and which can be used to allow a lot of limited access to various parts of the system until proper login is needed.  This is demonstrated simply by remembering your username in future login forms if you log out, and giving you the option to log out completely.
  %p Frank allows you to register yourself as a new user with a unique username and email address.  An HTML formatted email is sent to you with a verification link.  Clicking that tells the system that you are now verified and able to log in.  Until you verify your email you can not log in.
  %p Frank provides a simple password reset system.  You can supply your email and if it matches then you'll be sent a password reset link.
  %p Frank allows various roles.  Built in are 'superuser', 'admin' and 'user'. User is unused.  'superusers' can edit and delete anyone. 'admin's can only edit or delete non-admins.  By default when you register you have no role.  I'll log in every now and again and make you an admin so you can play.
  %h3 Frank is a 'breakable toy'
  %p Feel free to try to break this app, that's what it's for really.  Every now and again I may wipe all of the user data from here, in which case just re-register if you wish to see what's changed.  Now I have Frank in a reasonable working state I am keen to make a number of minor improvements and to get some peer-review of the code happening.
  %p<
    If you want to see the raw source code, or even fork it, or contribute to it, please see
    %a{ :href => "http://github.com/davesag/Frank"}Frank on GitHub
    and the associated
    %a{ :href => "http://davesag.lighthouseapp.com/projects/59602/home"}Frank on Lighthouse
    for issue and progress tracking. (Yes I know I could use GitHub for that but I'm playing.)
  %p Cheers
  %p
    %a{ :href => "http://www.davesag.com"}Dave Sag
  