#message_box
  %h3 #{message}
#entry_form
  %form(accept-charset='UTF-8' action='/forgot_password' method='post')
    %p< 
      %label{ :for => "username" }#{t.labels.email_label}
      %input(name='email' type='text')
    %input{ :type => "submit", :value => t.labels.reset_password_label}
