%h2 #{message}
%form(accept-charset='UTF-8' action='/forgot_password' method='post')
  %p< 
    %label{ :for => "username" }EMail Address
    %input(name='email' type='text')
  %input(type='submit' value='Send a password reset link')
