#message_box
  %h3 #{message} #{name}
#details
  %h3 What is Frank?
  %p<
    Frank is a simple demonstration project built as part of teaching myself about
    %ul<
      %li< Ruby,
      %li< Sinatra, 
      %li< Haml,
      %li< Active Record, and
      %li< Heroku
