!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %link{ :href => "/css/style.css", :rel => "stylesheet", :type => "text/css" }
    %title #{message}
  %body
    #header
      / template header content goes here
      %h2< Let me be Frank.
    #content
      = yield
    #footer
      / template footer content goes here
      %p<
        [
        -if nav_tag == 'privacy'
          Privacy
        -else
          %a{:href=>'/privacy'}Privacy
        |
        -if nav_tag == 'terms'
          Terms & Conditions
        -else
          %a{:href=>'/terms'}Terms & Conditions
        |
        -if nav_tag == 'login'
          Log in
        -else
          %a{:href=>'/'}Log in
        |
        -if nav_tag == 'forgot_password'
          I forgot my password
        -else
          %a{:href=>'/forgot_password'}I forgot my password
        -if name != '' && nav_tag != 'logout'
          | Not #{name}?
          %a{:href=>'/logout'}Log out completely
        -elsif name == '' && nav_tag != 'register'
          |
          %a{:href=>'/register'}Register
        -elsif name == '' && nav_tag == 'register'
          | Register
        ]
