#details
  %p< We will use best efforts to keep users data private. Passwords are stored in an encrypted form and the site follows best practice security. The site owners promise not to do anything bad with your data, but this is an open source project and there is no telling what individual implementations of Frank might get up to.
  %p< Insert your own text here, and please be good.
