#message_box
  %h3 #{message}
#entry_form
  %form(accept-charset='UTF-8' action='/registration' method='post')
    %p< 
      %label{ :for => "email" }Your email
      %input(name='email' type='text' value='#{email}')
    %p< 
      %label{ :for => "username" }Choose a username
      %input(name='username' type='text' value='#{name}')
    %p<
      %label{ :for => "password" }Choose a Password
      %input(name='password' type='password')
    %p<
      %label{ :for => "terms" }<
        I have read, and agree to the
        %a{:href=>"terms", :target => "_blank"}< Terms & Conditions
      %select(name='terms')
        %option(value="true" selected="selected")< All Good
        %option(value="false")< No
    %input(type='submit' value='Register me')
