%h2 #{message}
%form(accept-charset='UTF-8' action='/reset_password' method='post')
  %input{:type=>'hidden', :name=>'token', :value => validation_token }
  %p<
    %label{ :for => "password" }Password
    %input(name='password' type='password')
  %input(type='submit' value='Update password')
