#message_box
  %h3 #{message}
#entry_form
  %form(accept-charset='UTF-8' action='/reset_password' method='post')
    %input{:type=>'hidden', :name=>'token', :value => validation_token }
    %p<
      %label{ :for => "password" }#{t.labels.password_label}
      %input(name='password' type='password')
    %input{ :type => "submit", :value => t.labels.update_password_label}
