#message_box
  %h3< #{message}
#details
  %p< This website is a demonstration framework only
  %p< The developers of this website, nor any contributors to the Frank project, or Sinatra projects assume any liability for the use of this website.
  %p< Frank is licensed under a Creative Commons license.
  %p<
    You are free to fork it in any way shape you like but please acknowledge
    %a{:href => "http://github.com/davesag/Frank", :target => "_blank"}< the core Frank project
