#message_box
  %h3< #{message}
#details
  %p< Nous utiliserons les meilleurs efforts de maintenir des données d'utilisateurs privées. Des mots de passe sont enregistrés sous une forme encryptée et le site suit la sécurité des pratiques. La promesse de propriétaires de site de ne pas faire n'importe quoi mauvais avec vos données, mais c'est à un un projet de source ouverte et nul ne peut dire à quelles différentes réalisations de Frank pourrait se lever.
  %p< Insérez votre propre texte ici, et veuillez soyez bon.
