#message_box
  %h3< #{message}
#details
  %p< Ce site Web est un cadre de démonstration seulement
  %p< Ni les lotisseurs de ce site Web, ni aucun contribuant au projet de Frank, ou aux projets de Sinatra ne prennent n'importe quelle responsabilité pour l'usage de ce site Web.
  %p< Frank est autorisé sous un permis créateur de terrains communaux.
  %p<
    Vous êtes libre pour bifurquer il de quelque façon forme que vous aimez mais reconnaissez s'il vous plaît 
    %a{:href => "http://github.com/davesag/Frank", :target => "_blank"}< le projet de 'Frank'
    de noyau
