#details
  %h3< Demonstration Framework
  %p< The developers of this website, nor any contributors to the Frank project, or Sinatra projects takes any responsibility for the use of this website.
  %p< Frank is licensed under a Creative Commons license.
  %p<
    You are encouraged to fork it and acknowledge
    %a{:href => "http://github.com/davesag/Frank", :target => "_blank"}< the core Frank project
