%p Cher #{user.username},
%p
  Vous avez mis à jour votre adresse email. Veuillez cliquer
  %a{ :href => token_url }sur ce lien
  pour confirmer la modification.
%p À la votre
%p Frank
%p
  Envoyé par
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
