%p Cher #{user.username},
%p
  Quelqu'un donnant l'username « <%= supplied_name%> » juste essayé pour s'inscrire à
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
  utilisant votre adresse email.
%p A juste pensé que vous voudriez savoir.
%p À la votre
%p Frank
%p
  Envoyé par
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
