%p Cher #{user.username},
%p
  Un utilisateur de
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
  donnant l'username « <%= supplied_name%> » juste essayé pour changer leur email en votre adresse email.
%p A juste pensé que vous voudriez savoir.
%p À la votre
%p Frank
%p
  Envoyé par
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
