%p Cher #{user.username},
%p
  Merci pour l'enregistrem. Veuillez cliquer
  %a{ :href => token_url }sur ce lien
  pour confirmer votre enregistrement et puis ouvrir une session.
%p À la votre
%p Frank
%p
  Envoyé par
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
