%p Cher #{user.username},
%p
  Vous avez invité un mot de passe pour remettre à l'état initial. Veuillez cliquer
  %a{ :href => token_url }sur ce lien
  pour remettre à l'état initial votre mot de passe.
%p À la votre
%p Frank
%p
  Envoyé par
  %a{ :href => 'http://github.com/davesag/Frank' }Frank
