#message_box
  %h3{:class => "warning"}< #{message}
#self_destruct
  %form(accept-charset='UTF-8' action='/delete_self' method='post')
    %input(type='hidden' name='frankie_says_force_it' value='true')
    %input{ :type => "submit", :value => t.labels.delete_me_label}
