#entry_form
  =haml :'chunks/active_form', :locals => { :form_action => "/user/edit/#{params[:id]}", :submit_label =>  t.nav.update_user_button }
#user_buttons
  [
  %a{ :href => "/user/#{params[:id]}", :method => 'get'}#{t.nav.view_user_button}
  ]
