#details
  %h3 Welcome to your Frank user dashboard
  #upload
    %form{:action=>"/upload",:method=>"post",:enctype=>"multipart/form-data"}
      %p<
        %label{:for => 'file'}Upload a file
        %input{:type=>"file",:name=>"file"}
      %p<
        %input{:type=>"submit",:value=>"Upload"}
  