%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %link{ :href => "css/style.css", :rel => "stylesheet", :type => "text/css" }
    %title Welcome #{user.username}.
  %body
    %p Welcome #{user.username}. You are now logged in.
    %p
      %a{ :href => "/logout" } Log out
