!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %link{ :href => "/css/style.css", :rel => "stylesheet", :type => "text/css" }
    %title #{message} #{user.username}
  %body
    #header
      %p<
        You are logged in as
        %b<
          #{user.username}
    #content
      = yield
    #footer
      %p<
        [
        %a{:href=>'/'}Home
        |
        %a{:href=>'/in/show_user'}Profile
        |
        %a{:href=>'/in/edit_user'}Edit Profile
        |
        %a{ :href => "/logout" }Log out
        ]
