#messagebox
  %p< #{message}
#user_details
  %table
    %tr<
      %th> Username
      %td #{user.username}
    %tr<
      %th> Email
      %td #{user.email}
    %tr<
      %th{ :colspan => "2" } Preferences
    - for pref in user.preferences
      %tr<
        %th>= pref.name
        %td= pref.value
#self_destruct
  %form(accept-charset='UTF-8' action='/delete_self' method='post')
    %input(type='submit' value='Delete me')
