#details
  %h3 Bienvenue à votre tableau de bord
  %p<
    Frank est un projet de démonstration simple établi en tant qu'élément de s'enseigner au sujet du
    %ul<
      %li< Ruby,
      %li< Sinatra, 
      %li< Haml,
      %li< Active Record, and
      %li< Heroku
  %p Sentez-vous libre à à pour casser cette application, celle est pour ce qu'il est.  De temps à autre je peux essuyer toutes les données d'utilisateur d'ici, dans ce cas juste re-registre si vous souhaitez voir ce qui est changé.
  %p<
    Si vous voulez voir le code source cru, ou même bifurquez il, contribuez à lui etc., voient s'il vous plaît
    %a{ :href => ""}Frank sur GitHub
    et l'associé
    %a{ :href => ""}Frank sur Lighthouse
    pour l'issue et progressez en dépistant. (Oui je sais que je pourrais utiliser GitHub pour celui mais je joue.)
  %p À la votre
  %p
    %a{ :href => "http://www.davesag.com"}Dave Sag
  %p PS: Si votre Français est meilleur que le mien, et vous vous inquiétez pour donner une certaine heure à traduire mon texte, alors obtenez s'il vous plaît dans le contact.
